@import "tailwindcss";

@font-face {
  font-family: 'FK Roman';
  src: url('/fonts/FK Roman Standard Trial/FKRomanStandardTrial-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'FK Roman';
  src: url('/fonts/FK Roman Standard Trial/FKRomanStandardTrial-Medium.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'FK Roman';
  src: url('/fonts/FK Roman Standard Trial/FKRomanStandardTrial-Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
}

.font-roman {
  font-family: 'FK Roman', serif;
}
